/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(base.png) no-repeat;
}

.xbox .bumper {
    background: url(bumper.png) no-repeat;
}


.xbox .button {
    background: url(abxy.png) no-repeat;
}

.xbox .face {
    background: url(dpad.png) no-repeat;
}
